.container {
    padding: 20px;
    width: 35rem;
    margin: auto;
    max-width: 95vw;
}

h1 {
    text-align: center;
    margin-top: 6px;
}

mat-form-field {
    width: 100%;
}

input {
    width: 100%;
}

.result-wrapper {
    width: 100%;
}

.result-wrapper .item-result {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-radius: 7px;
    padding: 10px;
    height: 50px;
    margin-bottom: 10px;
}

.link {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}

.link-description {
    width: 100%;
}

.result-text {
    margin: 0 0 20px 0;
}