<div class="container">
  <div class="input-wrapper">
    <input type="text" placeholder="Escriba lo que quiere buscar" [(ngModel)]="promptText">
  </div>
  <div class="result-text">
    <h5>Resultados</h5>
  </div>
  <div class="result-wrapper">
    <div class="item-result" *ngFor="let item of chatGptResponse">
      <div class="link"><a [href]="item.link">{{item.link}}</a></div>
      <div class="link-description">{{item.description}}</div>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="checkResponse()">
  Check Response
</button>

