<div class="container">
  <div style="display: flex; justify-content: center;">
    <h1 >Búsqueda GPT</h1>
    <img style="margin-bottom: 25px;" width="80px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK48hBYesw6guvCLZnoEDAdKzAoGIMShPKfzvUdFu7&s" alt="">
    
  </div>
  <div class="input-wrapper">
    <form [formGroup]="formulario" (ngSubmit)="buscar()" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Escriba algo para buscar</mat-label>
        <input matInput type="text" formControlName="textoInput">
        <button matSuffix mat-icon-button >
          <mat-icon matSuffix>search</mat-icon>
        </button>
        
      </mat-form-field>
    </form>

  </div>
  <div *ngIf="cargando">
    <mat-spinner style="width: 100px; margin: auto;"></mat-spinner>
  </div>
  <div class="result-text" *ngIf="chatGptResponse.length > 0 && !cargando">
    <h5>Resultados encontrados: {{chatGptResponse.length}}</h5>
  </div>
  <div class="result-wrapper" *ngIf="chatGptResponse.length > 0 && !cargando">
    <div class="item-result" *ngFor="let item of chatGptResponse">
      <div class="link"><a target="_blank" [href]="item.link">{{item.link}}</a></div>
      <div class="link-description">{{item.description}}</div>
    </div>

    <mat-accordion *ngFor="let item of chatGptResponse">
      <mat-expansion-panel hideToggle>
        <div class="link"><a [href]="item.link">{{item.link}}</a></div>
        <div class="link-description">{{item.description}}</div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div *ngIf="chatGptResponse.length === 0 && !cargando" style="width: 100%;">
    <img style="margin: auto; width: 100%;" src="../assets/imagen.png" >
  </div>
</div>

